.App {
  text-align: center;
}

 ul{
  width:200px;
  margin: 0 auto
 }

 .donep{
  background-color: blue;
  padding: 5px;
  color:white;
  width:60px;
  margin: 0 auto;
  margin-top: 3px;
  border-radius: 3px;

 }